<footer>
  <div>
    <img src="./images/logo-footer.svg" alt="logo">
  </div>
  <div>
    <p>© 2021 All rights reserved</p>
  </div>
  <nav class="nav">   
    <ul class="list">
      <li>About us</li>
      <li>Team</li>
      <li>Portfolio</li>
      <li>Contact us</li>
    </ul>
  </nav>
  <ul class="social-list list">
    <li>
      <a class="social-list__link" href="">
        <svg class="social-list__icon">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li><a class="social-list__link" href="">
      <svg class="social-list__icon">
        <use href="./images/symbol-defs.svg#icon-teleg"></use>
      </svg>
    </a>
  </li>
    <li><a class="social-list__link" href="">
      <svg class="social-list__icon">
        <use href="./images/symbol-defs.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  </ul>


</footer>