<header>  

    <div class="logo-wrapper">
      <a class="link" href="./index.html">
        <img src="./images/logo.svg" alt="logo" width="135" height="36" class="logo" />
      </a>
    </div>  

  <nav class="nav">   
    <ul class="list">
      <li>About us</li>
      <li>Team</li>
      <li>Portfolio</li>
      <li>Contact us</li>
    </ul>
   </nav>
  
  <!-- drop-down -->
  <div class="header__lang-button">
    <button class="lang-button">USA</button>
    <div class="lang-button__menu">
      <ul class="lang-button__list list">
        <li class="lang-button__item">
          <a href="#" class="lang-button__link link">Ukraine</a>
        </li>
        <li class="lang-button__item">
          <a href="#" class="lang-button__link link">USA</a>
        </li>
        <li class="lang-button__item">
          <a href="#" class="lang-button__link link">Russia</a>
        </li>
      </ul>
    </div>
  </div>

</header>