<section>
  <h2>portfolio</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, suscipit neque ut auctor. Vitae fames sit quis elit et gravida risus massa sed. Vulputate est, enim, neque diam. Aliquet sed nec, nisl nulla morbi sed in morbi rutrum. Semper massa rhoncus aenean nibh. Id tincidunt facilisi faucibus ullamcorper malesuada euismod. Parturient aliquam sagittis leo vitae massa. Integer ultrices nulla sed interdum suspendisse diam.
    Vulputate ultricies velit auctor sem massa, sit habitant. Non bibendum mi arcu, elementum donec nam at tincidunt feugiat. Tortor orci at quam odio eget vitae. Fermentum, quam metus sodales arcu consectetur euismod pretium. Ornare varius tristique amet vivamus pellentesque. Eu consectetur diam habitant purus nibh.
    </p>
  
    <ul>
      <li>
        <a class="portfolio__action link" href="">
          <div class="overlay">
            <img src="./images/ocean.jpg" alt="ocean" />                
            <p class="overlay__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
            </p>
          </div>
          <div class="portfolio__border">
            <h2 class="portfolio__title">WORK 1</h2>
            <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </a>
      </li>
      <li><a class="portfolio__action link" href="">
        <div class="overlay">
          <img src="./images/hell.jpg" alt="hell" />                
          <p class="overlay__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
          </p>
        </div>
        <div class="portfolio__border">
          <h2 class="portfolio__title">WORK 2</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a></li>
      <li><a class="portfolio__action link" href="">
        <div class="overlay">
          <img src="./images/dune.jpg" alt="dune" />                
          <p class="overlay__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
          </p>
        </div>
        <div class="portfolio__border">
          <h2 class="portfolio__title">WORK 3</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a></li>
      <li><a class="portfolio__action link" href="">
        <div class="overlay">
          <img src="./images/cactus.jpg" alt="cactus" />                
          <p class="overlay__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
          </p>
        </div>
        <div class="portfolio__border">
          <h2 class="portfolio__title">WORK 4</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a></li>
      <li><a class="portfolio__action link" href="">
        <div class="overlay">
          <img src="./images/wood.jpg" alt="wood" />                
          <p class="overlay__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
          </p>
        </div>
        <div class="portfolio__border">
          <h2 class="portfolio__title">WORK 5</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a></li>
      <li><a class="portfolio__action link" href="">
        <div class="overlay">
          <img src="./images/shore.jpg" alt="shore" />                
          <p class="overlay__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
          </p>
        </div>
        <div class="portfolio__border">
          <h2 class="portfolio__title">WORK 6</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a></li>
      <li><a class="portfolio__action link" href="">
        <div class="overlay">
          <img src="./images/island.jpg" alt="island" />                
          <p class="overlay__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
          </p>
        </div>
        <div class="portfolio__border">
          <h2 class="portfolio__title">WORK 7</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a></li>
      <li><a class="portfolio__action link" href="">
        <div class="overlay">
          <img src="./images/wave.jpg" alt="wave" />                
          <p class="overlay__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur 
          </p>
        </div>
        <div class="portfolio__border">
          <h2 class="portfolio__title">WORK 8</h2>
          <p class="portfolio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a></li>
    </ul>
</section>

